<h1 class="title">Restaurant Management System</h1>
<nav class="navbar">
   
    <div class="nav-right">
    <a routerLink="/home" >Home</a>
    <a routerLink="/register/user" >User Registration</a>
    <a routerLink="/register/business" >Business Registration</a>
    <a routerLink="/restaurants">Restaurant List</a>
    <a routerLink="/booking">Booking</a>

  </div>
</nav>

<!-- <app-user-register></app-user-register>

<app-book-table></app-book-table> -->
<div class="page-container">
  <router-outlet></router-outlet>
</div>